{% extends "_base.html" %}
{% load static %}

{% block title %}
<title>Dashboard | Home</title>
{% endblock title %}

{% block content %}

    <main class="w-full min-h-screen overflow-x-hidden">
        <div class="w-full relative">
            <!-- Sidebar -->
            <div class="h-full w-[80px] fixed top-0 left-0 overflow-x-hidden border-l-8 border-transparent bg-red-400">
                <!-- Logo -->
                <!-- <div id='logo' class='relative'>
                    <div class='w-[61.97px] h-[19.53px] lg:w-[71.97px] lg:h-[29.53px] relative'>
                        <img
                            src="{% static '/images/Logo.png' %}"
                            fill
                            alt="logo"
                            
                        />
                    </div>
                    <div class='flex text-[23px] space-x-1 font-medium'>
                        <span class='text-[#2F80ED]'>Blue</span>
                        <span class='text-black'>Trade.</span>
                    </div>
                </div> -->

                <!-- Change the above class to inactive link -->
                <ul class="w-full">
                    <li class="w-full">
                        <a href="" class="flex w-full space-x-3">
                            <span class="">
                                <ion-icon class="text-[1.75rem]" name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                        
                    </li>
                    <li class="w-full">
                        <a href="" class="flex w-full space-x-3">
                            <span class="">
                                <ion-icon class="text-[1.75rem]" name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                        
                    </li>
                    <li class="w-full">
                        <a href="" class="flex w-full space-x-3">
                            <span class="">
                                <ion-icon class="text-[1.75rem]" name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                        
                    </li>
                    <li class="w-full">
                        <a href="" class="flex w-full space-x-3">
                            <span class="">
                                <ion-icon class="text-[1.75rem]" name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                        
                    </li>
                </ul>

                

            </div>
        </div>
        


        <!-- Main Content -->
        <div class="min-h-screen w-[calc(100%-80px)] absolute left-[80px] overflow-x-hidden bg-blue-500">
            Hello
        </div>
    </main>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}