{% extends "_base.html" %}
{% load static %}

{% block title %}
<title>Dashboard | Home</title>
{% endblock title %}

{% block content %}



<section class="flex ">
    <!-- Sidebar -->
    <div id="sidebar" class="absolute md:fixed w-3/4 sm:w-2/4  md:w-1/4 h-screen bg-green-500"></div>
    <!-- Main Body -->
    <div id="main-body" class="relative w-full md:w-3/4 min-h-[200vh] bg-green-950 md:ml-[25%]">
        <div class="absolute top-0 left-0 right-0 bottom-0 bg-blue-800">
            <div class="w-full h-full relative">
                <div id="navbar" class="h-[98px] bg-white w-full flex flex-row items-center justify-between p-4">
                    
                    <div id="search" class="w-1/3 border-[#C4CACD] border rounded-3xl h-[50px] p-2">
                        <input type="text" placeholder="Search" class="w-full h-full !border-none 
                            focus:!border-none focus-within:!outline-0 !outline-none 
                            !outline-0 focus:!outline-0 placeholder:text-[#C4CACD] 
                            placeholder:font-light"
                        />
                    </div>

                    <div class="flex flex-row items-center">
                        <div id="notification-bell" class="w-[25.1px] h-[28px] relative">
                            <img class="w-full h-full object-cover" src="{% static 'assets/bell.png' %}" alt="">
                            <div id="notification-dot" class="h-[7.72px] w-[7.72px] bg-[#FF5959] rounded-full absolute right-0 top-[0.2rem]"></div>
                        </div>
                        
                        <div id="profile" class="h-[59px] bg-[#F2F8FF] flex justify-between items-center rounded-xl">
                            <div class="flex flex-row">
                                <img id="profile_avatar" class="h-[45px] w-[45px] rounded-full bg-[#F0A0A0] border-2 border-[#DA7C7C]" src="{% static 'assets/pro_avatar.png' %}" alt="">
                                <div class="flex flex-col">
                                    <h2 class="text-[13px] font-[600]">Andy Warhol</h2>
                                    <p class="text-[11px]">andywarhol@mail.com</p>
                                </div>
                            </div>
                            <img src="{% static 'assets/dots.png' %}" class="h-[19.64px] w-[4.53px]" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>


{% endblock %}
</body>
</html>