<!-- Footer -->
<section class="pt-[20px] md:pt-[40px] pb-[80px] px-[1rem] w-full min-h-[50vh] overflow-hidden bg-[#13111A]">
    <div class="container mx-auto">
        <div class="w-full text-white flex justify-center items-center">
            <div class="flex flex-col-reverse lg:flex-row gap-10">

                <div class="flex flex-col gap-3">
                    <h2 class="font-extrabold text-[20px] md:text-[25px]">Logo</h2>
                    <p class="opacity-60 max-w-[416px]">
                        Trade with a customisable multi-asset trading platform. Offering CFDs on forex, commodities, cryptocurrencies, NFT's and synthetics
                    </p>
                    <p class="opacity-60 max-w-[416px] mt-10 text-[14px]">
                        © Copyright 2022, All Rights Reserved by ElitecryptoFX
                    </p>
                </div>

                <div class="flex gap-10 sm:gap-20 lg:gap-20 flex-wrap">
                    <div class="flex flex-col gap-4 md:gap-2">
                        <p class="font-[600] text-[20px] mb-[15px] md:mb-[25px] text-white opacity-60">Product</p>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">Crypto</a>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">NFTs</a>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">Forex</a>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">Indices</a>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">Stocks</a>
                    </div>

                    <div class="flex flex-col gap-4 md:gap-2">
                        <p class="font-[600] text-[20px] mb-[15px] md:mb-[25px] text-white opacity-60">Company</p>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">Home</a>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">About</a>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">Service</a>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">FAQ</a>
                        <a class="mb-[10px] text-[18px] transition-all text-[#fff] hover:pl-[10px] hover:text-[#FFC947] hover:opacity-100" href="/">Contact</a>
                    </div>

                    <div class="flex flex-col gap-4 md:gap-2">
                        <p class="font-[600] text-[20px] mb-[15px] md:mb-[25px] text-white opacity-60">Contact</p>
                        <a class="mb-[10px] text-[18px] pointer-events-none" href="/">elitecryptofx@elitecryptofxtra.com</a>
                        
                        <div class="">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>